body {
  margin: 0;
}
p {
  margin: 5px;
}
a {
  text-decoration: none;
}
header {
  font-family: 'Roboto', sans-serif;
  display: flex;
  background-color: black;
  color: white;
  justify-content: space-between;
  align-items: center;
}
header a {
  color: white;
}
.header-logos i {
  color: #d50000;
}
.header-logos  {
  padding: 8px 12px;
}
.header-icons {
  font-size: 12px;
  padding: 8px 12px;
}
.header-icons a + a {
  padding-left: 5px;
}
video {
  width: 100%;
  position: sticky;
  top: 0;
}
main {
  font-family: 'Nanum Gothic', sans-serif;
  margin: 8px 12px;
}
.most-tags a {
  color: rgb(0, 119, 255);
  font-size: 12px;
}
.description-title {
  font-size: 15px;
}
.description-details {
  color: rgb(133, 129, 129);
  font-size: 10px;
}
.most-social-icons {
  margin: 20px 0px 5px 0px;
  display: flex;
  justify-content: space-evenly;
  font-size: 18px;

}
.most-social-icons a {
  text-align: center;
  color: gray;
}
.most-social-icons p {
  font-size: 12px;
}
.most-social-icons a:hover {
  color: rgb(0, 119, 255);
}
hr {
  opacity: 0.2;
}
.main-subscribe {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-subscribe a {
  color: black;
}
.subscribe-channel {
  display: flex;
  align-items: center;
}
.main-subscribe i {
  font-size: 20px;
  color: pink;
}
.channel-descirption {
  padding: 8px 12px;
}
.subscribe-button {
  font-size: 13px;
}