body {
  margin: 0;
}
a {
  text-decoration: none;
  color: white;
}
header {
  font-family: 'Roboto', sans-serif;
  display: flex;
  background-color: black;
  color: white;
  justify-content: space-between;
  align-items: center;
}
.header-logos i {
  color: #d50000;
}
.header-logos  {
  padding: 8px 12px;
}
.header-icons {
  font-size: 12px;
  padding: 8px 12px;
}
.header-icons a + a {
  padding-left: 5px;
}
video {
  width: 100%;
  position: sticky;
  top: 0;
}
